body{
    margin: 0;
}
.box{
    width: 100px;
    height: 100px;
    background: red;
    margin: 10px; 
}
.box-default{
    box-sizing: content-box; /*Solo el tamaño define para la seccion del contenido*/
    padding: 25px;
    border: 10px solid black;
}

.box-new{
    box-sizing: border-box; /*Define el tamaño a razon de toda la caja y adapta el contenido*/
    padding: 25px;
    border: 10px solid black;

}